.looks {
      background-color: pink;
      color: red;
      font-family: 'Segoe UI';
}

.other-looks {
      background-color: black;
      color: mediumspringgreen;
      font-family: 'Segoe UI';
}
